@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./img/flappybirdbg.png");
}

.gameOver {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOverTXT {

    font-size: 50px;
    color: #ff0000;
    text-shadow: 2px 2px #000;
    font-family: 'VT323', monospace;
}

.pause {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'VT323', monospace;
}
.pause p {
    font-size: 30px;
}
.pause h1 {
    font-size: 50px;
    color: yellow;
    text-shadow: 2px 2px #000;
}
.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    padding-left: 830px;
}